@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Version 2.0, coming soon!</h2>


<p>There are a few important features we are looking to push out in version 2.0. We want to provide the user an ability to see their happiest days, and have all their diet, exercise, and sleep data presentable for those days. As well as on bad days. We will add suggestions how to better the users habits, or keep them up, on these days. We will also add Calorie counting abilities, as well as meal plan suggestions. We look forward to your continued experience with HappyLife!</p>
