@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us</h2>


<address>
    HappyLife Corp<br />
    Fort Wayne, In 46804<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">HappyLife@happy.com</a><br />
</address>