@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Need Some Motivation?</h2>
        <p>
            Sometimes the hardest part about getting healthy and happy, is just getting started. Need some motivation?
        </p>
        <p><a class="btn btn-success" href=https://www.youtube.com/watch?v=ZXsQAXx_ao0> Click Me &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Feeling more anxious than ever during Covid?</h2>
        <p>One of the main goals of this app is to help reduce stress and anxiety. Covid has been extremely hard on everyone's mental health. Want to learn more ways to reduce anxiety and stress during these weird times?</p>
        <p><a class="btn btn-success" href="https://adaa.org/learn-from-us/from-the-experts/blog-posts/consumer/top-ten-covid-19-anxiety-reduction-strategies">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What's coming in version 2.0?</h2>
        <p>This is just the beginning of the features and look we want to give to our users. We have big plans on the way, to improve your experience using HappyLife.</p>
        <p><a class="btn btn-success" href="https://localhost:44336/Home/About">Learn more &raquo;</a></p>
    </div>

</div>

<div class="jumbotron home-jumbotron" style="border:dotted">
    <h1>HappyLife</h1>
    <p class="lead">HappyLife is a new spin on health and wellness applications. The goal is for the user to track their habits every day that correlate to happiness. Sleeping, eating, and exercise have shown to directly influence mood. The purpose is to look at your happiest days, and find correlations in your habits. Did you sleep 8 hours? Did you eat a healthy breakfast and drink enough water? Go for a run? Well, pay attention to your good days, and improve on your bad ones!</p>
    <p><a href="https://localhost:44336/Person/Index" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>